img { 
    height: 150px; 
    background-color: rgba(0, 0, 0, 0);
}
.hotel-info{
    margin-top: 150px;
}
.Hyatt-logo{
    max-width: 600px;
    margin: auto;
    margin-bottom: 2%;
    padding: 10px;

}

.IHG-logo{
    max-width: 600px;
    margin: auto;
    margin-bottom: 2%;
    padding: 10px;


}

.Marriot-logo{
    max-width: 600px;
    margin: auto;
    margin-bottom: 2%;
    padding: 10px;

   
}

.Hyatt-logo, .IHG-logo, .Marriot-logo {
    transition: box-shadow 0.3s; /* Add transition for smooth effect */
}
  
.Hyatt-logo:hover, .IHG-logo:hover, .Marriot-logo:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

@media screen and (max-width:800px){

    .hotel-info-card{
        flex-direction: column;
    }
    
    
}