.forecast-container {
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
    background-color: #C7D0D7;
    border: 5px solid black; /* Add black border */
  }
  
.title{
    margin-top: 5px;

}
.sub-title{
    margin-top: 75px;
}
.departure-code{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrival-code{
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width:850px){
    
    .departure-code{
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
    }
    .arrival-code{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
    }
    
}
