.forecast-container {
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
    background-color: #C7D0D7;
    border: 5px solid black; /* Add black border */
  }
  
.title{
    margin-top: 5px;

}
.sub-title{
    margin-top: 75px;
}
.departure-code{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrival-code{
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
  
  /* Button styles */
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
.button:hover {
    background-color: #0056b3;
}